**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/.idea
**/bin
**/obj
**/target
**/node_modules
.git
.gitignore
.dockerignore
.env
README.md
LICENSE
*.md
*.log
*.tmp
.DS_Store
**/*.pdb
**/*.zip
**/*.user
**/*.suo